{% extends "base.html" %}
{% block content %}
<h1>Your Account
</h1><a href="{{ url_for('home') }}"><span class="badge bg-secondary">Back to Home</span></a>
<hr>
<b>Username:</b><br>
<p>{{ current_user.username }}</p>
<b>Email:</b><br>
<p>{{ current_user.email }}</p>
<br><br>
<h1>Your URLs ({{ urls|length }})</h1>
<hr>
{% for url in urls %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ requests.get('http://textance.herokuapp.com/title/' ~ url.url).text }}</h5>
        <h6 class="card-subtitle mb-2 link-secondary"><a target="_blank" href="{{ url.url }}">{{ url.url
                }}</a>
        </h6>
        {% if url.password %}
        <p>Protected URL</p>
        {% endif %}
        <p>Clicks: {{ url.clicks }}</p>
        <a target="_blank" href="{{ request.host_url ~ url.shorturl }}" class="card-link">Shortened URL: {{
            request.host_url ~ url.shorturl }}</a><br><br>
        <a href="{{ url_for('update_url', url_id=url.id) }}" class="btn btn-secondary btn-sm m-1">Edit</a>
        <a href="{{ url_for('delete_url', url_id=url.id) }}" class="btn btn-danger btn-sm m-1">Delete</a>
    </div>
</div><br>
{% endfor %}
{% if current_user.staff %}
<br><br>
<h1>All URLs on site ({{ allurls|length }})</h1>
<hr>
{% for url in allurls %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ requests.get('http://textance.herokuapp.com/title/' ~ url.url).text }}</h5>
        <h6 class="card-subtitle mb-2 link-secondary"><a target="_blank" href="{{ url.url }}">{{ url.url
                }}</a>
        </h6>
        {% if url.password %}
        <p>Protected URL</p>
        {% endif %}
        <p>Clicks: {{ url.clicks }}</p>
        <a target="_blank" href="{{ request.host_url ~ url.shorturl }}" class="card-link">Shortened URL: {{
            request.host_url ~ url.shorturl }}</a><br><br>
        <a target="_blank" href="{{ 'https://eshan.dev/s/' ~ url.shorturl }}" class="card-link">Even shorter URL: {{
            'https://eshan.dev/s/' ~ url.shorturl }}</a><br><br>
        <a href="{{ url_for('update_url', url_id=url.id) }}" class="btn btn-secondary btn-sm m-1">Edit</a>
        <a href="{{ url_for('delete_url', url_id=url.id) }}" class="btn btn-danger btn-sm m-1">Delete</a>
    </div>
</div><br>
{% endfor %}
{% endif %}
{% endblock %}