{% extends "base.html" %}
{% block content %}
<h1 class="col-7">URL Shortener!</h1>
<p>Check out my other projects on my website: <a target="_blank" href="https://eshan.dev">eshan.dev</a></p>
{% if current_user.is_authenticated %}
<a href="{{ url_for('account') }}" class="btn btn-info">Account</a>
<a href="{{ url_for('logout') }}" class="btn btn-info">Logout</a>
{% else %}
<a href="{{ url_for('login') }}" class="btn btn-info">Login</a>
<a href="{{ url_for('register') }}" class="btn btn-info">Sign Up</a>
{% endif %}
<hr>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.url.label(class="form-control-label") }}
                {% if form.url.errors %}
                {{ form.url(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.url.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.url(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-2">
                {{ form.shorturl.label(class="form-control-label") }}
                {% if form.shorturl.errors %}
                {{ form.shorturl(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.shorturl.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.shorturl(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% if showpw %}
            <div class="form-group mt-2">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {% endif %}
            <div class="form-group mt-3 mb-3">
                {% if form.recaptcha.errors %}
                {{ form.recaptcha(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.recaptcha.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.recaptcha(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}